body {
  font-family: "Roboto", sans-serif;
  background-color: #b7cadb;
}

/* navbar css starts here  */
.bg-light {
  background-color: #2c3333 !important;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  color: white !important;
}

.nav-link {
  color: white !important;
  font-family: "Noto Sans JP", sans-serif;
}

.nav-link:hover {
  background-color: none;
}
/* navbar css ends here  */

.my-info {
  padding: 2rem 5rem;
}

.btn-info {
  padding: 1rem 1.2rem;
  border-radius: 20px;
  background-color: rgb(78, 153, 223) !important;
  color: #fff !important;
  margin-left: 5px;
  padding: 0.75rem;
  transition: all 0.3s;
}

.btn-info:hover {
  background-color: #65c18c !important;
}
